/*
!/.*
.CFUserTextEncoding
.DS_Store
.bash_history
.lesshst
.zcompdump
.zsh_history
.ghtoken.env
.viminfo
.vim/*
!.vim/rc
.zsh_sessions/
.cargo/
.rustup/
.node_repl_history
.npm/
.nvm/
.ssh/
.local/
.vscode/
.config/
